<footer class="bg-light p-5 container-lg d-flex flex-column gap-3 rounded-3">
    <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex flex-column gap-3">
            <h4>Ready to get started?</h4>
            <button class="btn btn-primary">
                <span>Download</span>
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
        <ul class="d-flex flex-column gap-3">
            <li>Lorem.</li>
            <li><a href="#">Lorem.</a></li>
            <li><a href="#">Lorem.</a></li>
            <li><a href="#">Lorem.</a></li>
        </ul>
        <ul class="d-flex flex-column gap-3">
            <li>Lorem.</li>
            <li><a href="#">Lorem.</a></li>
            <li><a href="#">Lorem.</a></li>
            <li><a href="#">Lorem.</a></li>
        </ul>
        <ul class="d-flex flex-column gap-3">
            <li>Lorem.</li>
            <li><a href="#">Lorem.</a></li>
            <li><a href="#">Lorem.</a></li>
            <li><a href="#">Lorem.</a></li>
        </ul>
    </div>
    <div class="d-flex align-items-center justify-content-between">
        <div id="footer__terms" class="d-flex gap-3">
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
        </div>
        <div id="footer__socials" class="d-flex gap-3 align-items-center">
            <button class="btn btn-primary"><i class="fa-brands fa-facebook"></i></button>
            <button class="btn btn-primary"><i class="fa-brands fa-instagram"></i></button>
            <button class="btn btn-primary"><i class="fa-brands fa-whatsapp"></i></button>
        </div>
    </div>
</footer>
