@import url("reset.css");
@import url("colors.css");

main {
    background-image: url('../img/auth-bg.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

.img-fluid {
    max-width: 100px;
}

#wrapper {
    height: calc(100vh - 5rem);
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}

.input-group-text {
    min-width: 60px;
}

.input-group-text>* {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    #wrapper {
        height: 100vh;
        margin: 0;
    }

    #auth-container {
        border-radius: 0px !important;
    }

    #auth-form {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}
