#dashboard-wrapper {
    min-height: 94vh;
}

#mobileSidebar .fa-solid,
#sidebar .fa-solid {
    min-width: 20px;
}

#sidebar .nav-link {
    transition: background-color 0.2s ease, color 0.2s ease;
    border-radius: 0.375rem;
}

#sidebar .nav-link:hover {
    background-color: #f0f0f0;
}
