{% extends 'base.html' %}

{% block content %}
<main class="min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container card shadow-lg rounded p-4" style="max-width: 400px;">
        <h1 class="h4 mb-3 text-center" id="form-title">Login</h1>
        <form id="auth-form">
            <input class="form-control mb-3" id="username" type="text" placeholder="Username" required autofocus />
            
            <!-- Wrapper for the password field and submit button -->
            <div id="password-wrapper" class="d-none">
                <input class="form-control mb-3" id="password" type="password" placeholder="Password" required />
                <button class="btn btn-primary w-100" id="submit-btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/auth/auth.js') }}"></script>
{% endblock %}

