{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<main class="d-flex justify-content-center align-items-center vh-100 bg-white">
    <div id="wrapper" class="row w-100 m-md-4 rounded-4">
        <!-- Auth Form -->
        <div id="auth-container" class="col-12 col-md-4 bg-white rounded-4 p-4 shadow-lg d-flex flex-column justify-content-between align-items-center">
            <a href="/auth">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="CoisasComGosto Logo" class="img-fluid">
            </a>
            <form id="auth-form" class="d-flex flex-column gap-3 align-items-center w-100 px-4">
                <div id="form-header" class="text-center">
                    <h1 class="h2 mb-0">Seja bem-vindo!</h1>
                    <p class="text-dark">Qual é o teu nome?</p>
                </div>
                <div class="input-group">
                    <span class="input-group-text p-3 rounded-start">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <input type="text" class="form-control rounded-end p-3" placeholder="Utilizador" name="username" id="usernameField" aria-label="Username" required autofocus />
                    <div id="usernameErrorField" class="invalid-feedback"></div>
                </div>
                <button type="submit" id="submitBtn" class="btn btn-outline-primary border-2 mt-3 rounded-3 align-self-end">
                    <i class="fa-solid fa-arrow-right p-2"></i>
                </button>
            </form>
            <a class="text-decoration-none fw-bold" role="button">Esqueceu-se da sua palavra-passe?</a>
        </div>

        <!-- Info Section -->
        <div class="col-md-8 d-none d-md-block bg-transparent px-4 rounded-4">
            <div class="w-100 h-100 d-flex flex-column justify-content-between align-items-end glass-card p-4 rounded-4 text-white">
                <p class="text-uppercase small">CoisasComGosto</p>
                <div class="text-end">
                    <h1 class="display-6 fw-bold text-white">Tradição em Madeira<br>Inspirada na Filigrana<br>Portuguesa</h1>
                    <p class="mt-3">Descubra peças únicas que celebram a arte e a cultura de Viana do Castelo, feitas com dedicação e paixão.</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/auth/auth.js') }}"></script>
{% endblock %}

